.add-or-remove-form {
  margin: 20px 0;

  .fields {
    display: flex;
    justify-content: space-around;

    .field {
      margin: 10px 0;
    }
  }
}

.charges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  list-style-type: none;

  border: 1px solid;
  .charge {
    padding: 10px;

    border: 1px solid red;
  }
}
