@import url('https://fonts.googleapis.com/css?family=Alata');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans');
@import url('https://fonts.googleapis.com/css?family=Bangers');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  background-color: #fafafa;
}
